<!--Main layout-->
<main class="mb-5" style="margin-top: 58px">
    <!-- Container for demo purpose -->
    <div class="container">
  
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-12">
          <!--Section: Block Content-->
          <section class="my-5 text-center">
            <h1 class="display-1">404</h1>
  
            <h4 class="mb-4">Página no encontrada</h4>
  
            <p class="mb-4">
              La página que está buscando no existe o se produjo otro error.
            </p>
            <a class="btn btn-primary" href="<?= base_url ?>" role="button">Volver a la página de inicio</a>
          </section>
          <!--Section: Block Content-->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Container for demo purpose -->
</main>
<!--Main layout-->